# ---- R / RStudio (safe global ignores) ----
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ---- ONLY inside single_SDM: ignore everything... ----
Project/Atelopus niche modelling/single_SDM/**

# ---- ...but keep the README ----
!Project/Atelopus niche modelling/single_SDM/README.md

# ---- ...but keep the scripts folder and everything inside it ----
!Project/Atelopus niche modelling/single_SDM/scripts/
!Project/Atelopus niche modelling/single_SDM/scripts/**

# inside scripts, ignore cache/temp
Project/Atelopus niche modelling/single_SDM/scripts/gadm_cache/
Project/Atelopus niche modelling/single_SDM/scripts/**/gadm_cache/
Project/Atelopus niche modelling/single_SDM/scripts/Atelopus.ignescens
Project/Atelopus niche modelling/single_SDM/scripts/**/Atelopus.ignescens
# ---- ...but keep input_data subfolders and CSVs ----

!Project/Atelopus niche modelling/single_SDM/input_data/
!Project/Atelopus niche modelling/single_SDM/input_data/Chelsa_monthly_climate/
!Project/Atelopus niche modelling/single_SDM/input_data/Chelsa_monthly_climate/**
!Project/Atelopus niche modelling/single_SDM/input_data/Ecuador_DEM/
!Project/Atelopus niche modelling/single_SDM/input_data/Ecuador_DEM/**
!Project/Atelopus niche modelling/single_SDM/input_data/*.csv
!Project/Atelopus niche modelling/single_SDM/input_data/*.txt